.carts {
    .card {
        border: none !important;
        background-color: transparent !important;
        .card-header {
            background-color: transparent !important;
        }
    }

}
