.section1 {
    .card {
        border: none !important;
        .card-header {
            background-color: none !important;
            &__titles {
                &__id {
                    color: red;
                }
            }
        }
    }
}
